# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Rollup.js TypeScript plugin cache
.rpt2_cache

# Parcel.js bundler cache
.cache

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity
